nav {
   background-color: blue; 
   padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: gray;
}

nav a.active {
    font-weight: bold ;
}
