body {
    background-color: #1a202c;
    color: #f3f3f3;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 500px;
}

input,select {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    margin: 5px 0 25px 0;
    background-color: #2d3748;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border: 0;
}

input::placeholder {
    color: lightgray;
}

input:focus {
    border: 1px solid lightblue;
}

button {
    background-color: #fff;
    color: #2d3748;
    width: 518px;
    padding: 10px;
    margin: 20px 0;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #4b6a9f;
    color: #fff;
    transform: scale(0.98);
}

.input-error {
    border:1px solid #fc8181;
}

.error {
    color: #fc8181;
    font-size: 12px;
    text-align: left;
    margin-top: -10px;
}

.customcheckbox {
    display: flex;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20px;
    margin-top: 10px;
}

.span {
    margin: 12px  5px;
}

a {
    color: #fff;
}

a:hover {
    color: lightblue;
}




